---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Agosto 2024 - Actualmente",
    title: "Desarrollador Web Full-Stack",
    company: "Tandem Reina",
    link: "https://asociacionapolo.es/programa-tandem/",
    description:
      "Desarrollo aplicaciones web con React y TypeScript, creando interfaces de usuario interactivas y eficientes. En el backend, utilizo Java con Spring Boot para construir APIs RESTful robustas y escalables. Trabajo con buenas prácticas de desarrollo, enfocándome en la calidad del código, rendimiento y mantenibilidad."
  },
];
---

<ol class="mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
