---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Agosto 2024 - Actualmente",
    title: "Desarrollador Web Full-Stack",
    company: "Tandem Reina",
    link: "https://asociacionapolo.es/programa-tandem/",
    description:
      "Desarrollo aplicaciones web utilizando React con TypeScript para desarrollar interfaces de usuario interactivas y altamente funcionales. En el backend, empleo Symfony junto con Python para diseñar y mantener una infraestructura robusta y eficiente.",
  },
];
---

<ol class="mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
