---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/sections/AboutMe.astro";
import CodeIcon from "@/components/icons/Code.astro";
import TecnologyIcon from "@/components/icons/Technology.astro";
import Tecnologies from "@/components/sections/technologies/Technologies.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/sections/projects/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/sections/hero/Hero.astro";
---

<Layout
  title="Portfolio de Miguel Ángel Candelario Barrones - Desarrollador Web"
  description="Contacta con Miguel Ángel para crear tus programas a medida."
>
  <main class="px-4">
    <SectionContainer
      class="relative mx-auto container max-lg:pt-32 lg:pb-0 lg:h-screen overflow-hidden lg:w-[740px] lg:flex lg:flex-col lg:justify-center"
    >
      <Hero />
    </SectionContainer>
  </main>
  <div class="px-4 lg:pt-16">
    <SectionContainer id="proyectos">
      <h2
        class="flex mx-auto justify-center items-center mb-6 text-3xl font-semibold gap-x-3 text-white"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="habilidades">
      <h2
        class="flex justify-center items-center mb-6 text-3xl font-semibold gap-x-3 text-white"
      >
        <TecnologyIcon class="size-7" />
        Tecnologias
      </h2>
      <Tecnologies />
    </SectionContainer>
    <SectionContainer id="sobre-mi">
      <h2
        class="flex justify-center items-center mb-6 text-3xl font-semibold gap-x-3 text-white"
      >
        <ProfileCheck class="size-7" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
