---
import Frontend from "@/components/sections/technologies/Frontend.astro";
import Backend from "@/components/sections/technologies/Backend.astro";
import Tools from "@/components/sections/technologies/Tools.astro";
---

<div class="gridContainer">
  <Frontend />
  <Backend />
  <Tools />
</div>
