<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[2px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#336ebb_0%,#00ceff_50%,#336ebb_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-sm rounded-full cursor-pointer bg-gray-800 text-white/80 backdrop-blur whitespace-nowrap font-semibold"
    >
      <slot />
    </div>
  </span>
</div>
