---
import "@fontsource-variable/onest";

import Header from "../components/sections/Header.astro";
import Footer from "../components/sections/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
    <script src="../styles/estilos.css"></script>
    <ViewTransitions />
  </head>

  <body class=`relative text-white `>
    <div class=`fixed h-full top-0 left-0 inset-0 z-[-2]`>
      <div id="stars" class="stars"></div>
      <div id="stars2" class="stars"></div>
      <div id="stars3" class="stars"></div>
    </div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
